<% provide(:title, "About") %>

  <h1>About - Electronics</h1>

  <p>We have fake doors like you wouldn’t believe! What are you worried about? Come get fake doors. Call us up, and order some fake doors today. Don’t even hesitate, Don’t even worry and don’t even give it a second thought. That’s our slogan. See it on the bottom of the screen, below our name. Here’s another slogan, right below that one. What are you worried about? Come get fake doors. Get in here quick, get out quicker, with an arm of fake doors in you arms.</p>

  <p>I’m Ants-in-My-Eyes Johnson! Everything’s black, I can’t see a thing! And also I can’t feel anything either, did I mention that? But that’s not as catchy as having ants in your eyes. So that always goes, you know, off by the wayside. I can’t feel. It’s a very rare disease. All my-all my nerves, they don’t allow for the sensation of touch. So I never know what’s going on. Am I standing? Sitting? I don’t know.</p>
