<% provide(:title, "About") %>

  <h1>About - Real Fake Doors</h1>

  <p>We have fake doors like you wouldn’t believe! What are you worried about? Come get fake doors. Call us up, and order some fake doors today. Don’t even hesitate, Don’t even worry and don’t even give it a second thought. That’s our slogan. See it on the bottom of the screen, below our name. Here’s another slogan, right below that one. What are you worried about? Come get fake doors. Get in here quick, get out quicker, with an arm of fake doors in you arms.</p>
