<% provide(:title, "About") %>

  <h1>About - Electronics</h1>

  <p>I’m Ants-in-My-Eyes Johnson! Everything’s black, I can’t see a thing! And also I can’t feel anything either, did I mention that? But that’s not as catchy as having ants in your eyes. So that always goes, you know, off by the wayside. I can’t feel. It’s a very rare disease. All my-all my nerves, they don’t allow for the sensation of touch. So I never know what’s going on. Am I standing? Sitting? I don’t know.</p>
