<% provide(:title, "Contact") %>

<h1>Contact</h1>

  <p>phone: <strong>555 - 1234</strong></p>

  <p>Fusce aliquam mi sit amet libero condimentum, quis tincidunt neque efficitur. Vestibulum eleifend odio id augue ullamcorper ultrices in placerat tortor. Mauris elementum quis quam in tempor. Donec tristique orci vel viverra pharetra. Fusce vestibulum ligula sit amet augue commodo tristique. Maecenas quis dolor et sapien pharetra ornare. Etiam fermentum tellus vel augue tempus, ac pellentesque neque porttitor. Sed accumsan eu metus vel placerat. Nulla quis est pretium, blandit ligula a, pretium turpis.<p>
