<% provide(:title, "Contact") %>

  <h1>Contact - Electronics</h1>

  <p>Come on down to get Real Fake Doors! Not really sure where we are located because I can't see anything. But look for us and come in.</p>
