<% provide(:title, "Help") %>

  <h1>Help - Real Fake Doors</h1>

  <p>Hey, are you tired of real doors, cluttering up your house, where you open ’em, and they actually go somewhere? And you go in another room? Get on down to “Real Fake Doors”! That’s us. Fill a whole room up with ’em. See? Watch, check this out! Won’t open. Won’t open. Not this one, not this one. None of ’em open! FakeDoors.com is our website, so check it out for a lot of really great deals on fake doooooooors!</p>
