<% provide(:title, "Home") %>

<div class="center jumbotron">
  <h1>Home</h1>

  <h2>Lorem Ipsum</h2>

  <p>Integer eu blandit velit, ac aliquam tellus. Nulla volutpat risus quis auctor facilisis. Duis id placerat quam. Phasellus sagittis, tellus eget mollis dignissim, nisi nisi semper libero, ac tincidunt tellus ipsum ut lorem. Curabitur fermentum est ex, vitae mollis dui pulvinar at. Nulla condimentum purus quis nisl feugiat, in congue leo cursus. Nulla et condimentum diam.</p>

  <%= link_to "Sign Up Now!", signup_path, class: "btn btn-lg btn-primary" %>

</div>



  <%= link_to image_tag("ants.jpg", alt: "logo"), 'http://rubyonrails.org/' %>
