<% provide(:title, "Home") %>

  <h1>Real Fake Doors for SALE!</h1>

  <p>I’m Ants-In-My-Eyes Johnson, Here at Ants-in-My-Eyes Johnson’s Electronics. I mean, there’s so many ants in my eyes! And there’s so many TVs, microwaves, radios I think, I can’t I’m not 100% sure what we have here in stock, because I can’t see anything. Our prices I hope aren’t too low! Check out this refrigerator! Only $200! What about this microwave? Only $100! That’s fair!</p>

  <p>I’m Ants-in-My-Eyes Johnson! Everything’s black, I can’t see a thing! And also I can’t feel anything either, did I mention that? But that’s not as catchy as having ants in your eyes. So that always goes, you know, off by the wayside. I can’t feel. It’s a very rare disease. All my-all my nerves, they don’t allow for the sensation of touch. So I never know what’s going on. Am I standing? Sitting? I don’t know.</p>
