<% provide(:title, "Home") %>

<div class="center jumbotron">
  <h1>Home - Electronics</h1>

  <h2>I’m Ants-In-My-Eyes Johnson</h2>

  <p>Here at Ants-in-My-Eyes Johnson’s Electronics. I mean, there’s so many ants in my eyes! And there’s so many TVs, microwaves, radios I think, I can’t I’m not 100% sure what we have here in stock, because I can’t see anything. Our prices I hope aren’t too low! Check out this refrigerator! Only $200! What about this microwave? Only $100! That’s fair!</p>

  <%= link_to "Sign Up Now!", signup_path, class: "btn btn-lg btn-primary" %>

</div>



  <%= link_to image_tag("ants.jpg", alt: "logo"), 'http://rubyonrails.org/' %>
